body{
    background-color: #d3eef3;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h3{
    color: #66bfbf;
}

h1{
    color: #66bfbf;
}

img{
    border-radius: 50%;
    width: 200px;
}